.container {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    perspective: 1200px;
}

@media (max-width: 768px) {
    .container {
        height: 500px;
        perspective: 800px;
    }
}